/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Quicksand', sans-serif;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #4d4d4d;
}

body::before {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#051937, #a8eb12);
    clip-path: circle(22% at 30%  20%);
} */